.lms-layout {
  display: flex;
  min-height: 100vh;
  background: #f4f7fb;
}

/* SIDEBAR */
.course-sidebar {
  width: 260px;
  background: #0f172a;
  color: white;
  padding: 25px;
}

.course-sidebar h2 {
  margin-bottom: 30px;
  font-size: 28px;
}

.lesson-item {
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 15px;
  cursor: pointer;
  background: rgba(255,255,255,0.05);
  transition: 0.3s;
  font-size: 18px;
}

.lesson-item:hover {
  background: rgba(255,255,255,0.1);
}

.lesson-item.active {
  background: #2563eb;
}

/* MAIN */
.course-main {
  flex: 1;
  padding: 35px;
}

/* TOPBAR */
.course-topbar {
  margin-bottom: 30px;
}

.course-topbar h1 {
  font-size: 38px;
  color: #111827;
  margin-bottom: 10px;
}

.course-description {
  color: #555;
  font-size: 17px;
  line-height: 1.7;
}

/* SECTION TITLE */
.section-title {
  margin-bottom: 20px;
  color: #111827;
}

/* VIDEO */
.video-player {
  width: 100%;
  height: 700px;
  border-radius: 14px;
  background: black;
}

/* PDF */
.pdf-viewer {
  width: 100%;
  height: 800px;
  border: none;
  border-radius: 14px;
  background: white;
}

/* EMPTY BOX */
.empty-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  color: #666;
  font-size: 18px;
}

/* LOADING */
.viewer-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 28px;
  font-weight: bold;
}

.pdf-container {
  width: 100%;
  margin-top: 20px;
}

.pdf-viewer {
  width: 100%;
  height: 850px;
  border: none;
  border-radius: 14px;
  background: white;
}