:root{

  --bg: #f5f7ff;

  --card: white;

  --text: #111827;

  --secondary-text: #64748b;

  --input: white;
}

/* DARK MODE */

body.dark{

  --bg: #020617;

  --card: #1e293b;

  --text: white;

  --secondary-text: #cbd5e1;

  --input: #334155;
}